html {
  font-size: 62.5%;
}

body {
  height: 100%;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.bg-image {
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#footer {
  color: black;

}

/* ------ Style para Home ------- */